.page{
   &__container{
      padding-top: 100px;
      margin: 0 -160px 0 -70px;
      display: flex;
      flex-direction: row;
   }

   &__dialogsList{
      flex: 0 1 25%;
      display: flex;
      flex-direction: column;
      max-height: 868.5px;
      overflow-y: scroll;
      background-color: #575faf;
      border-right: 1px solid #ffffff4f;
      //!--------------"Scroll_Style"---------------
      &::-webkit-scrollbar{
         background-color: transparent;
         width: 5px;
         position: absolute;
         top: 0;
         right: 0;
      }
      &::-webkit-scrollbar-thumb{
         background-color: #ffffff;
         border-radius: 5px;
      }
   }

   &__dialogWindow{
      flex: 0 1 75%;
      display: flex;
      flex-direction: column;
   }
}

.dialogsList{
   color: #ffffff;
   &__branch{
      line-height: 1.5;
      padding: 10px;
      border-bottom: 1px solid #ffffff4f;
   }
   &__branchWho{
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      align-items: center;
      &:not(:last-child){margin-bottom: 15px;}
   }
   &__userAvatar{
      img{
         width: 50px;
         height: 50px;
         border-radius: 50%;
         object-fit: cover;
      }
   }
   &__userName{
      font-size: 16px;
   }
   &__lastMessage{
      font-size: 14px;
      span{color: rgb(211, 132, 15);font-weight: 600;}
   }
}

.dialogWindow{
   &__messages{
      width: 100%;
      background-color: #3a49d362;
      flex: 1 1 689.5px;
      padding: 15px;
      overflow-y: scroll;
      //!--------------"Scroll_Style"---------------
      &::-webkit-scrollbar{
         background-color: transparent;
         width: 5px;
         position: absolute;
         top: 0;
         right: 0;
      }
      &::-webkit-scrollbar-thumb{
         background-color: #ffffff;
         border-radius: 5px;
      }
   }
   &__sent{
      font-size: 16px;
      line-height: 1.5;
      max-width: 250px;
      &:not(:last-child){
         margin-bottom: 10px;
      }
      p{
         padding: 15px;
         background-color: rgb(206, 42, 124);
         border-radius: 20px 20px 20px 0px;
         display: inline-block;
      }
   }

   &__input{
      position: relative;
      form{
         padding: 20px;
         background-color: #2d3fdf;
      }
      textarea{ 
         width: 100%;
         min-height: 130px;
         border-radius: 20px;
         padding: 10px 20px;
         resize: none;
      }
      button{
         font-size: 16px;
         color: #ffffff;
         text-align: center;
         padding: 14px 16px;
         background-color: rgb(206, 42, 124);
         position: absolute;
         border-radius: 40%;
         bottom: 25px;
         right: 25px;
      }
   }
}