@import '../../scss/null.scss';
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $darkTh_content;
	z-index: 100000;
	&__login {
		color: $darkTh_txt;
		font-size: 20px;
		transition: all 0.3s ease;
		&:hover {
			transition: all 0.3s ease;
			color: $Dlink_hover;
		}
	}
	&__container {
		height: 100px;
		display: flex;
		align-items: center;
		flex-direction: row;
		padding: 0 50px;
		column-gap: 40px;
	}

	&__logo {
		font-size: 45px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: 1px;
		a {
			color: $darkTh_txt;
		}
		span {
			font-weight: 700;
			color: $Dlink_active;
		}
	}

	&__search {
		display: flex;
		flex: 1 1 auto;
	}

	&__notification {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	&__miniProfile {
		display: flex;
		flex-direction: row;
		gap: 15px;
		align-items: center;
	}
}

.search {
	&__icon {
		font-size: 25px;
		color: $darkTh_txt;
		transition: all 0.3s ease;
		&:hover {
			transition: all 0.3s ease;
			color: $Dlink_hover;
		}
	}

	&__input {
		margin-left: 15px;
		background-color: transparent;
		font-size: 16px;
		line-height: 1.5;
		width: 80%;
		transition: all 0.4s ease-in-out;
		color: $darkTh_txt;
		&:focus {
			color: $darkTh_txt;
			border-bottom: 1px solid #ffffffaf;
			transition: all 0.4s ease-in-out 0s;
		}
	}
}

.notification {
	a {
		color: $darkTh_txt;
	}

	&__messeges,
	&__bell {
		transition: all 0.2s ease;
		&:hover {
			transition: all 0.2s ease;
			color: $Dlink_hover;
		}
	}

	&__messeges {
		width: 35px;
		height: 35px;
	}

	&__bell {
		width: 35px;
		height: 35px;
	}

	&__icon {
		font-size: 30px;
		background-color: transparent;
		cursor: pointer;
	}
}

.miniProfile {
	z-index: 4;
	button {
		font-size: 18px;
		background: transparent;
		color: $darkTh_txt;
		transition: all 0.3s ease;
		&:hover {
			color: $Dlink_hover;
			transition: all 0.3s ease;
			padding-top: 2px;
		}
	}
	&__avatar {
		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}

	&__text {
		a {
			color: $darkTh_txt;
			transition: all 0.3s ease;
			&:hover {
				text-decoration: underline;
				color: $Dlink_hover;
				transition: all 0.3s ease;
			}
		}
		font-size: 16px;
	}
}

.profileModal {
	position: absolute;
	top: -200px;
	left: 17px;
	transition: top 0.2s ease-in;
	text-align: center;
	font-size: 16px;
	padding: 20px 40px;
	background-color: $darkTh_content;
	&__link {
		margin-bottom: 15px;
		a {
			color: $darkTh_txt;
			font-weight: 600;
			&:hover {
				color: $Dlink_hover;
			}
		}
	}
	&__logout {
		color: #919191;
		cursor: pointer;
		&:hover {
			color: $Llink_hover;
			text-decoration: underline;
		}
	}
}
.open {
	top: 70px;
	transition: top 0.3s ease-in;
}

.container {
	display: flex;
	flex-direction: column;
	position: relative;
}
