.nav{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   background-color: #02315E;
   padding-top: 100px;
   z-index: 2;
   justify-content: center;
   width: 90px;
   transition: width 0.3s ease-out 0s;
   &:hover{
      width: 300px;   
      transition: width 0.3s ease-out 0s;
   }

   &__menuList{
      padding: 30px 20px;
   }

   &__menuItem{
      font-size: 22px;
      line-height: 1.5;
      transition: all 0.4s ease 0s;
      display: flex;
      flex-direction: row;
      &:not(:last-child){
         margin-bottom: 20px;
      }
   }
   &__iconBox{
      width: 45px;
      height: 45px;
      border-radius: 10px;
      background-color: #ffffff81;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__icon{
      color: #fff;
      font-size: 25px;
   }

   &__link{
      color: #fff;
      padding-left: 10px;
      display: none;
   }

}