.nav{
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   height: 100%;
   background-color: #02315E;
   padding-top: 100px;
   z-index: 2;
   width: 90px;
   //width:300px;
   transition: width 0.3s ease-out 0s;

   &__menuList{
      padding: 30px 20px;
      flex: 1 1 auto;
      a{color: #fff;}
   }

   &__menuItem{
      font-size: 22px;
      line-height: 1.5;
      transition: all 0.4s ease 0s;
      display: flex;
      align-items: center;
      flex-direction: row; 
      &:not(:last-child){
         margin-bottom: 20px;
      }
   }
   &__iconBox{
      width: 45px;
      height: 45px;
      border-radius: 10px;
      background-color: #ffffff81;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      &:hover{
         color: rgb(15, 132, 179);
         transition: all 0.3s ease;
      }
   }

   &__icon{
      font-size: 25px;
   }

   &__link{
      padding-left: 10px;
      transition: all 0.3s ease;
      display: none;
      &:hover{
         color: rgb(15, 132, 179);
         transition: all 0.3s ease;
         padding-left: 15px;
      }
   }

   &__button{
      display: inline-flex;
      justify-content: flex-end;
      align-content: center;
      padding: 10px;

      button{
         color: #094e8f;
         font-size: 16px;
         border-radius: 50%;
         width: 35px;
         height: 35px;
         opacity: 0.9;
         transition: all 0.4s ease;
         &:hover{
            color: rgb(15, 132, 179);
            transition: all 0.2s ease;
            font-size: 20px;
         }
         &:focus{
            transform: scaleX(-1);
            transition: all 0.4s ease;
         }
      }
   }
}
