//*dark_theme colors
$darkTh_bg: #071021;
$darkTh_content: #1f2632;
$darkTh_nav: #131c2c;
$Dlink_hover: #1f7bdd;
$Dlink_active: #2a8ffb;
$darkTh_txt: #fcfcfc;

//*light_theme colors
$lightTh_bg: #f1f3f6;
$lightTh_content: #ffff;
$lightTh_nav: #fcfcfc;
$Llink_hover: #ea4b1e;
$Llink_active: #fb582a;
$lightTm_txt: #071021;

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 10px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: $darkTh_bg;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

body {
	&::-webkit-scrollbar {
		background-color: transparent;
		width: 5px;
		position: absolute;
		top: 0;
		right: 0;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #ffffff;
		border-radius: 5px;
	}
}
